include README.md
include stf/bin/stf
include stf/bin/iniParser.py
include stf/__init__.py
include stf/managers/*.py
include stf/views/*.py
include stf/modules/*.py
include stf/plugins/*.py
include stf/helper/*
recursive-include stf/lib/ *.py
recursive-include stf/examples/ *

